.about__box {
	text-align: center;
	padding: 10px 120px;
}

.about__box-text {
	width: 735px;
	margin: 43px 185px;
	font-size: 20px;
	align-items: center;
	text-align: center;
	color: #949494;
}
.about__box-info {
	font-weight: 500;
	font-size: 20px;
	margin-top: 35px;
	margin-bottom: 190px;
}
