.form {
	margin-top: 235px;
	padding: 90px 0;
	background-image: url(../img/form-img.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.form__container {
	position: absolute;
}
.form__img {
	position: relative;
	top: -180px;
	left: 730px;
}
.form__list {
	align-items: center;
	padding: 0 220px;
	background-color: #78c0de;
}

.news__title {
	@include list-global;
	margin-bottom: 32px;
	font-size: 50px;
	font-weight: 700;
	color: #fff;
}
.text {
	margin-right: 25px;
	padding: 18px 147px 12px 22px;
	font-size: 16px;
	font-weight: 500;
}

.submit {
	padding: 15px 52px;
	font-size: 16px;
	font-weight: 500;
	background-color: #333;
	color: #fff;
}
